body {
    overflow: hidden;
}

#title {
    font-family: "Sunflower", sans-serif;
    font-weight: 700;
    font-style: normal;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
    font-size: 25px;
    transition: opacity 1s ease-in-out;
}


#start {
    font-family: "Sunflower", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    background-color: lightblue;
    border-radius: 10px;
    width: 100px;
    height: 40px;
    cursor: pointer;
    position: absolute;
    top: 45%;
    left: 35%;
    transition: opacity 0.7s ease;
    text-align: center;
    line-height: 40px;

}

a {
    text-decoration: none;
    color: inherit
}

#textstart {
    font-family: "Sunflower", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 90px;
    display: none;
    z-index: 10;
}


#blinkline {
    color: blue;
    animation: blink 3s infinite;
    display: inline-block;
    transition: transform 0.3s ease;
    position: absolute;
    top: 110px;
    left: 190px;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    20% {
        opacity: 0;
    }

    40% {
        opacity: 1;
    }

    60% {
        opacity: 0;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

#blinkline2 {
    color: blue;
    animation: blink 3s infinite;
    display: inline-block;
    transition: transform 0.3s ease;
    position: absolute;
    top: 110px;
    left: 280px;
    font-family: "Sunflower", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 90px;
}

#blankbox {
    position: absolute;
    left: 215px;
    top: 110px;
    width: 80px;
    height: 100px;
    background-color: royalblue;
    opacity: 50%;
    font-family: "Sunflower", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 15px;
    color: black;
    animation: blankin 1s infinite;
}

@keyframes blankin {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 50%;
    }
}

@keyframes blankbox {
    0% {
        border-radius: 0%;
    }

    50% {
        border-radius: 20%;
    }

    100% {
        border-radius: 0%;
    }
}

#selfintro {
    font-family: "Sunflower", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    display: none;
    position: absolute;
    top: 250px;
    left: 50px;
    width: 200px;
    height: 100px;
    text-align: center;
    line-height: 1.5;
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
}


#next1 {
    font-family: "Sunflower", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 15px;
    background-color: lightblue;
    border-radius: 10px;
    width: 60px;
    height: 30px;
    cursor: pointer;
    margin-top: 20px;
    text-align: center;
    line-height: 30px;
    margin-left: auto;
    margin-right: auto;
}

#next2 {
    font-family: "Sunflower", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 15px;
    background-color: lightblue;
    border-radius: 10px;
    width: 60px;
    height: 30px;
    cursor: pointer;
    margin-top: 20px;
    text-align: center;
    line-height: 30px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 290px;
    left: 119px;
}

#ohgray {
    font-family: "Sunflower", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 120px;
    position: absolute;
    top: 150px;
    left: 100px;
    color: gray;
    opacity: 0%;
}

#cursorgray {
    width: 170px;
    height: 100px;
    position: absolute;
    top: 230px;
    left: 69px;
    opacity: 0%;
}

#oh {
    font-family: "Sunflower", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 120px;
    position: absolute;
    top: 10px;
    left: 10px;
    color: black;
    scroll-behavior: smooth;
}

#cursor {
    width: 170px;
    height: 100px;
    position: absolute;
    top: 400px;
    left: 0px;
    scroll-behavior: smooth;
}

@keyframes ohmove {
    0% {
        top: 10px;
        left: 10px;
    }

    100% {
        top: 150px;
        left: 100px;
    }
}

@keyframes cursormove {
    0% {
        top: 400px;
        left: 0px;
    }

    100% {
        top: 230px;
        left: 69px;
    }
}

#tada {
    font-family: "Sunflower", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 23px;
    position: absolute;
    left: 5px;
    top: 5px;
    color: royalblue;
}

#okay {
    font-family: "Sunflower", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 15px;
    background-color: lightblue;
    border-radius: 10px;
    width: 85px;
    height: 30px;
    cursor: pointer;
    margin-top: 20px;
    text-align: center;
    line-height: 30px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 350px;
    right: 30px;

}

#explain {
    font-family: "Sunflower", sans-serif;
    font-weight: 500;
    font-style: oblique;
    font-size: 20px;

    position: absolute;
    top: 180px;
    pointer-events: none;
}

@keyframes explainfade {
    0% {
        opacity: 100%
    }

    100% {
        opacity: 0%
    }
}

#gotit {
    font-family: "Sunflower", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 15px;
    background-color: lightblue;
    border-radius: 10px;
    width: 80px;
    height: 30px;
    cursor: pointer;
    margin-top: 20px;
    text-align: center;
    line-height: 30px;
    margin-left: auto;
    margin-right: auto;
    position: relative;

    pointer-events: auto;
}

#goodluck {
    font-family: "Sunflower", sans-serif;
    font-weight: 500;
    font-style: oblique;
    font-size: 20px;

    position: absolute;
    top: 180px;

}

@keyframes luckfadein {
    0% {
        opacity: 0%
    }

    100% {
        opacity: 100%
    }
}

@keyframes luckfadeout {
    0% {
        opacity: 100%
    }

    100% {
        opacity: 0%
    }
}

#stage1 {
    font-family: "Sunflower", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 21px;
    position: absolute;
    left: 5%;
    top: 5%;
    color: black;
    background-color: lightgreen;
    border-radius: 10px;
    width: 170px;
    height: 40px;
    text-align: center;
    line-height: 1.9;
}

#stage2 {
    font-family: "Sunflower", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 21px;
    position: absolute;
    left: 5%;
    top: 55%;
    color: black;
    background-color: lightgreen;
    border-radius: 10px;
    width: 170px;
    height: 40px;
    text-align: center;
    line-height: 1.9;
    pointer-events: auto;
}


#quest1 {
    font-family: "Sunflower", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 50px;
    position: absolute;
    top: 180px;

}

#quest1box2 {
    width: 100px;
    height: 70px;
    border: 2px solid black;
    border-radius: 5px;
    position: absolute;
    top: 250px;
    left: 90px;
}

#quest1box {
    position: absolute;
    width: 100px;
    height: 70px;
    border: 2px solid black;
    border-radius: 5px;
    top: 180px;
    left: 160px;
}

#quest1hint {
    font-family: "Sunflower", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
}

#ohbox1 {
    width: 60px;
    height: 60px;
    border: 2px solid black;
    border-radius: 5px;
    position: absolute;
    bottom: 100px;
    left: 40px;
    font-family: "Sunflower", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 25px;
    text-align: center;
    line-height: 2.5;
}

#ohbox3 {
    width: 60px;
    height: 60px;
    border: 2px solid black;
    border-radius: 5px;
    position: absolute;
    bottom: 100px;
    left: 40px;
    font-family: "Sunflower", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 25px;
    text-align: center;
    line-height: 2.5;
}

#cursorbox1 {
    width: 60px;
    height: 60px;
    border: 2px solid black;
    border-radius: 5px;
    position: absolute;
    bottom: 100px;
    left: 130px;
}

#cursorbox3 {
    width: 60px;
    height: 60px;
    border: 2px solid black;
    border-radius: 5px;
    position: absolute;
    bottom: 100px;
    left: 130px;
}

#cursor1 {
    width: 35px;
    height: 20px;
    position: absolute;
    bottom: 23px;
    left: 13px;
}

#cursor3 {
    width: 35px;
    height: 20px;
    position: absolute;
    bottom: 23px;
    left: 13px;
}

#oh1 {
    font-family: "Sunflower", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 25px;
    position: absolute;
    left: 80px;
    top: 33px;
}

#oh2 {
    font-family: "Sunflower", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 25px;
    position: absolute;
    left: 80px;
    top: 65px;
}



#cur1 {
    position: absolute;
    left: 20px;
    top: 33px;
    width: 35px;
    height: 20px;
    touch-action: none;
}

#cur2 {
    position: absolute;
    left: 20px;
    top: 65px;
    width: 35px;
    height: 20px;
    touch-action: none;
}

#cursorr1 {
    width: 35px;
    height: 20px;
    pointer-events: none;
}

#cursorr2 {
    width: 35px;
    height: 20px;
    pointer-events: none;
}

#cursorr3 {
    width: 35px;
    height: 20px;
    pointer-events: none;
}

#cursorr4 {
    width: 35px;
    height: 20px;
    pointer-events: none;
}



#oh3 {
    font-family: "Sunflower", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 25px;
    position: absolute;
    left: 80px;
    top: 33px;
}

#oh4 {
    font-family: "Sunflower", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 25px;
    position: absolute;
    left: 80px;
    top: 65px;
}



#cur3 {
    position: absolute;
    left: 20px;
    top: 33px;
    font-family: "Sunflower", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 25px;
    position: absolute;
}

#cur4 {
    position: absolute;
    left: 20px;
    top: 65px;
    width: 35px;
    height: 20px;
    touch-action: none;
}

#quest12 {
    font-family: "Sunflower", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 42px;
    position: absolute;
    top: 180px;

}

#quest12box {
    width: 100px;
    height: 70px;
    border: 2px solid black;
    border-radius: 5px;
    position: absolute;
    top: 250px;
    left: 90px;
}

#cursorbox12 {
    width: 60px;
    height: 60px;
    border: 2px solid black;
    border-radius: 5px;
    position: absolute;
    bottom: 100px;
    left: 130px;
}

#ohbox2 {
    width: 60px;
    height: 60px;
    border: 2px solid black;
    border-radius: 5px;
    position: absolute;
    bottom: 100px;
    left: 40px;
    font-family: "Sunflower", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 25px;
    text-align: center;
    line-height: 2.5;
}

#success {
    font-family: "Sunflower", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 30px;
    color: lightgreen;
    position: absolute;
    bottom: 40px;
    right: 40px;
}

#quest2 {
    font-family: "Sunflower", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 21px;
    position: absolute;
    top: 5px;
    left: 5px;
}

#platform1 {
    position: absolute;
    left: 0px;
    top: 200px;
    width: 110px;
    height: 200px;
    border: 2px solid black;

}

#platform2 {
    position: absolute;
    right: 0px;
    top: 200px;
    width: 65px;
    height: 200px;
    border: 2px solid black;
}

#cat1 {
    position: absolute;
    top: 160px;
    left: 40px;
    font-size: 40px;
}

#cat2 {
    position: absolute;
    right: 20px;
    top: 160px;
    font-size: 40px;
}

#cursorbox2 {
    width: 60px;
    height: 60px;
    border: 2px solid black;
    border-radius: 5px;
    position: absolute;
    bottom: 36px;
    right: 35px;
}

#cursor2 {
    width: 40px;
    height: 25px;
    position: absolute;
    bottom: 30px;
    left: 5px;
}

@keyframes cursor2fade {
    0% {
        opacity: 0%
    }

    100% {
        opacity: 100%
    }
}

.test {
    font-family: "Sunflower", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 30px;
}

#test9 {
    position: absolute;
    top: 200px;
    left: 90px;
    width: 20px;
    height: 30px;
    background-color: blue;
    opacity: 0%;
}

#test1 {
    position: absolute;
    top: 200px;
    left: 110px;
    width: 20px;
    height: 30px;
    background-color: blue;
    opacity: 0%;
}

#test2 {
    position: absolute;
    top: 200px;
    left: 130px;
    width: 20px;
    height: 30px;
    background-color: blue;
    opacity: 0%;
}

#test3 {
    position: absolute;
    top: 200px;
    left: 150px;
    width: 20px;
    height: 30px;
    background-color: blue;
    opacity: 0%;
}

#test4 {
    position: absolute;
    top: 200px;
    left: 170px;
    width: 20px;
    height: 30px;
    background-color: blue;
    opacity: 0%;
}

#test5 {
    position: absolute;
    top: 200px;
    left: 190px;
    width: 20px;
    height: 30px;
    background-color: blue;
    opacity: 0%;
}

#test6 {
    position: absolute;
    top: 200px;
    left: 210px;
    width: 20px;
    height: 30px;
    background-color: blue;
    opacity: 0%;
}

#test7 {
    position: absolute;
    top: 200px;
    left: 230px;
    width: 20px;
    height: 30px;
    background-color: blue;
    opacity: 0%;
}

#test8 {
    position: absolute;
    top: 200px;
    left: 250px;
    width: 20px;
    height: 30px;
    background-color: blue;
    opacity: 0%;
}

.clone {
    position: absolute;
    touch-action: none;
}

#fail {
    font-family: "Sunflower", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    display: none;
    position: absolute;
    top: 250px;
    left: 50px;
    width: 200px;
    height: 100px;
    text-align: center;
    line-height: 1.5;
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
}

#good {
    font-family: "Sunflower", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 25px;
    position: absolute;
    top: 10px;
    left: 10px;
}

#done {
    font-family: "Sunflower", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    background-color: lightblue;
    border-radius: 10px;
    width: 100px;
    height: 40px;
    cursor: pointer;
    position: absolute;
    top: 45%;
    left: 35%;
    transition: opacity 0.7s ease;
    text-align: center;
    line-height: 40px;
}

#finish {
    font-family: "Sunflower", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
    display: none;
    position: absolute;
    top: 250px;
    left: 50px;
    width: 240px;
    height: 100px;
    text-align: center;
    line-height: 1.5;
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
}

#end {
    font-family: "Sunflower", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transition: opacity 0.7s ease ease-in-out;
    text-align: center;
    line-height: 40px;
    color: black;
}

#timer {
    position: fixed;
    top: 20px;
    right: 20px;
    color: royalblue;
    font-size: 20px;
    font-family: "Sunflower", sans-serif;
    font-weight: 500;
    font-style: normal;
}

#reset1 {
    font-family: "Sunflower", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 15px;
    background-color: lightblue;
    border-radius: 10px;
    width: 80px;
    height: 30px;
    cursor: pointer;
    margin-top: 20px;
    text-align: center;
    line-height: 30px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 350px;
    left: 150px;
}

@keyframes finishfadeout {
    0% {
        opacity: 100%
    }

    100% {
        opacity: 0%
    }
}

@keyframes blankfadeout {
    0% {
        opacity: 100%
    }

    100% {
        opacity: 0%
    }
}

@keyframes endfadein {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%
    }
}